<app-menu></app-menu>
<app-navegacio></app-navegacio>
<article xmlns="http://www.w3.org/1999/html">

  <h1>Contacte</h1>
  <br/><br/>
  Té alguna pregunta sobre el vostre compte, comanda,
  o descomptes? <br/> Podeu trobar la informació al centre d'ajuda
  o poseu-vos en contacte amb nosaltres.
  <br/><br/>
  Telefon: 657 948 576<br/>
  Correu electronic: mycreatine@gmail.com<br/>
  Adreça: Institut Vidreres <br/><br/><br/><br/>

  <h2>Formulari de contacte</h2>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" method="POST" action="submit">
    <label for="nombre">nombre:  </label>
    <input type="text" id="nombre" formControlName="nombre"><br><br>

    <label for="correo">correo:  </label>
    <input type="email" id="correo" formControlName="correo"><br><br>

    <label for="mensaje">mensaje:  </label>
    <textarea id="mensaje" formControlName="mensaje"></textarea><br><br>


    <button type="submit">Enviar</button>
    <div *ngIf="formularioEnviado" class="mensaje-confirmacion">El formulario se ha enviado correctamente. Gracias por contactarnos.</div>

  </form>




</article>

<app-peu-pagina></app-peu-pagina>
